---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
<!-- {% include date_and_social_share.html %} -->
<h2 class="post-title">{{ page.subtitle }}</h2>
{{ content }}

<h2 class="post-title">Upcoming Events:</h2>

<ul>
  <li>July 10-12 — <a href="https://ccls.libcal.com/event/10781049">AI Club Workshops @ Easttown Library</a></li>
  <li>August 5 —  <a href="https://anc.apm.activecommunities.com/ymcagreaterbrandywine/activity/search/detail/123395?onlineSiteId=0&from_original_cui=true">YMCA STEM Camp</a></li>
</ul>
