@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'OldSchoolAdventures';
  src: url('/fonts/OldSchoolAdventures-42j9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-adventure {
  font-family: 'OldSchoolAdventures', sans-serif;
}


@font-face {
  font-family: 'Ticketing';
  src: url('/fonts/Ticketing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-ticketing {
  font-family: 'Ticketing', sans-serif;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}


